# This workflow will do a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Trova Components CI

on:
    #push:
    #  branches: [ master ]
    # Allows you to run this workflow manually from the Actions tab
    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest

        strategy:
            matrix:
                node-version: [16.x]
                # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

        steps:
            - uses: actions/checkout@v2
              with:
                  fetch-depth: 0
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v2
              with:
                  node-version: ${{ matrix.node-version }}
                  registry-url: 'https://registry.npmjs.org'
                  scope: '@trova'
            - run: |
                  echo "//registry.npmjs.org:_authToken=${{ secrets.NPM_PUBLISH_TOKEN }}" > ~/.npmrc
            - run: npm install -g yarn
            # similar to npm ci
            - name: Set npm configs
              run: |
                  git config --local user.name ${{ github.actor }}
                  git config --local user.email rolando@trovatrip.com
            - run: yarn install --frozen-lockfile
            - run: npm version patch -m "Release %s"
            #- run: git push
            - run: npm publish
            - env:
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_PUBLISH_TOKEN }}
